*.csv
module_4_recommendations/bin
module_4_recommendations/etc
module_4_recommendations/lib
module_4_recommendations/share
module_4_recommendations/include
pyvenv.cfg
.gitignore
.ipynb_checkpoint
/.vscode